*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.nav {
  padding: 1.2rem 6rem;
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav__logo {
  font-size: 1.8rem;
  font-weight: 600;
}

.nav__options {
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.search__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-right: 2rem;
}

.search__bar {
  height: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: space-around;
}

.search__bar--input {
  border-radius: 3px;
  outline: none;
}

.search__bar--input::-webkit-input-placeholder {
  color: #a1a1a1;
  padding-left: 5px;
}

.search__bar--input:-ms-input-placeholder {
  color: #a1a1a1;
  padding-left: 5px;
}

.search__bar--input::-ms-input-placeholder {
  color: #a1a1a1;
  padding-left: 5px;
}

.search__bar--input::placeholder {
  color: #a1a1a1;
  padding-left: 5px;
}

.search__bar--btn {
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: #2556fc;
  height: 100%;
  color: white;
  margin-left: -1rem;
}

.header {
  margin: 0 10%;
  width: 80%;
  height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-article {
  width: 55%;
  height: 88%;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-article__img {
  width: 100%;
  height: 35rem;
  border-radius: 1rem;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.main-article__link {
  color: #2556fc;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.main-article__title {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.main-article__description {
  color: #a4a4aa;
  margin-bottom: 2rem;
}

.main-article__btn {
  padding: 1rem 1.4rem;
  background-color: #2556fc;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 3px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.sub-articles {
  width: 40%;
  height: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

.sub-article__img-container {
  width: 13rem;
  height: 13rem;
  border-radius: 3px;
  overflow: hidden;
}

.sub-article__info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-article__img {
  width: 100%;
  height: 100%;
}

.sub-article__type {
  color: #e1878e;
  font-weight: 300;
  font-size: 1.2rem;
}

.sub-article__title {
  font-size: 1.7rem;
  font-weight: 600;
}

.sub-article__link {
  color: #2556fc;
  text-underline-position: under;
  font-size: 1.4rem;
}

.new-blogs {
  padding-left: 10%;
  padding-top: 4rem;
  height: 70vh;
}

.new-blogs__title {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 4rem;
}

.new-blog {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-blog img {
  width: 20rem;
  height: 18rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.new-blog__info {
  width: 20rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-gap: 1rem;
}

.new-blog__type {
  font-size: 1.3rem;
  font-weight: 400;
  color: #2556fc;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.new-blog__title {
  font-size: 1.5rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.new-blog__link {
  font-size: 1.2rem;
  text-underline-position: under;
  color: #000;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}
/*# sourceMappingURL=style.css.map */