*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

$color-facebook-blue: #2556fc;
$color-light-grey: #a4a4aa;
$color-report: #e1878e;

.nav {
    padding: 1.2rem 6rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;

}

.nav__logo {
    font-size: 1.8rem;
    font-weight: 600;

}

.nav__options {
    // background-color: orange;
    text-decoration: none;
    list-style: none;

    font-size: 1.3rem;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search {
    justify-self: end;

    display: flex;
    justify-self: space-around;
    align-content: center;
}

.search__icon {
    display: flex;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-right: 2rem;
}

.search__bar {
    height: 3.2rem;
    display: flex;
    justify-self: space-around;

    &--input {
        border-radius: 3px;
        outline: none;
    }

    &--input::placeholder {
        color: rgb(161, 161, 161);
        padding-left: 5px;
    }

    &--btn {
        border: none;
        border-radius: 5px;
        padding: 8px 12px;
        background-color: $color-facebook-blue;
        height: 100%;
        color: white;
        margin-left: -1rem;
    }
}

.header {
    margin: 0 10%;
    width: 80%;
    height: 70rem;
    // background-color: rgb(228, 228, 228);

    display: flex;
    justify-content: space-around;
}

.main-article {
    width: 55%;
    height: 88%;
    border-radius: 1rem;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    &__img {
       width: 100%;
       height: 35rem;
       border-radius: 1rem;
       justify-self: start;
       margin-bottom: 1.5rem;
       overflow: hidden;
    }

    &__link {
        color: $color-facebook-blue;
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    &__title {
        font-size: 2.8rem;
        margin-bottom: 1.5rem;

    }

    &__description {
        color: $color-light-grey;
        margin-bottom: 2rem;

    }

    &__btn {
        padding: 1rem 1.4rem;
        background-color: $color-facebook-blue;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: 3px;
        align-self: start;
    }
}


.sub-articles {
    width: 40%;
    height: 68%;
    // background-color: green;
    
    display: flex;
    flex-direction: column;
}

.sub-article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    &__img-container {
        width: 13rem;
        height: 13rem;
        border-radius: 3px;
        overflow: hidden;
    }

    &__info {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__type {
        color: $color-report;
        font-weight: 300;
        font-size: 1.2rem;
    }

     &__title {
         font-size: 1.7rem;
        font-weight: 600;

     }

     &__link {
        color: $color-facebook-blue;
        text-underline-position: under;
        font-size: 1.4rem;
     }
}


.new-blogs {
    // background-color: $color-report;
    padding-left: 10%;
    padding-top: 4rem;
    height: 70vh;

    &__title {
        font-size: 3rem;
        font-weight: 600;
        padding-bottom: 4rem;
    }
}

.new-blog {

    width: 20rem;
    display: flex;
    flex-direction: column;

    img {
        width: 20rem;
        height: 18rem;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    &__info {
        width: 20rem;

        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-gap: 1rem;
    }

    &__type {
        font-size: 1.3rem;
        font-weight: 400;
        color: $color-facebook-blue;
        grid-row: 1 / 2;
    }

    &__title {
        font-size: 1.5rem;
        grid-row: 2 / 3;
    }

    &__link {
        font-size: 1.2rem;
        text-underline-position: under;
        color: #000;
        grid-row: 3 / 4;
    }
}








